<%= form_with url: "/login", method: :post, local: true do |form| %>
<table>
  <tr><td><%= form.label :email, "Email:" %><td>
  <td><%= form.text_field :email, value: params[:email], required: true %><td></tr>
  <tr><td><%= form.label :password, "Password:" %><td>
  <td><%= form.password_field :password, required: true %><td></tr>
  <tr><td><%= form.submit "Login" %><td></tr>
</table>
<% end %>
