<h1>Viewing Party Lite </h1>
<% if !session[:user_id] %>
  <%= button_to "Create An Account", "/register/", method: :get %>
  <%= button_to "Login", "/login/", method: :get %>
<% elsif session[:user_id] %>
  <%= button_to "My Dashboard", "/dashboard/", method: :get %>
  <%= button_to "Logout", "/logout/", method: :delete %>

  <h2>Members</h2>
  <table>
    <tr>
      <th>name</th>
      <th>email</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.name %></td>
      <td> <%= user.email %></td>
    </tr>
    <% end %>
  </table>
<% end %>
